* {
  margin: 0;
  padding: 0; }

.header-footer {
  background-color: #eca50a;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px; }

.header-footer {
  background-color: #eca50a;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px; }

.header-footer {
  background-color: #eca50a;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px; }

.header-footer {
  background-color: #eca50a;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px; }

.header-footer {
  background-color: #eca50a;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px; }

.header-footer {
  background-color: #eca50a;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px; }
