@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Poppins:wght@200&family=Rubik+Glitch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Rubik+Glitch&display=swap");
* {
  margin: 0;
  padding: 0; }

.integrantes, .container-integrantes .cards {
  margin: auto;
  padding: 10px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: all 300ms; }

.integrantes, .container-integrantes .cards {
  margin: auto;
  padding: 10px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: all 300ms; }

.main-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 50px 20px 250px;
  padding: 10px;
  width: 60%;
  border-radius: 15px;
  border: 2px white solid;
  border-style: outset;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to left, #ff4766, #958abf); }
  .main-contacto .acorde {
    margin: -10 0 -10 0; }
  .main-contacto .formulario-contacto {
    margin-bottom: 20px;
    margin-top: 10px;
    padding: auto;
    color: black;
    background-color: rgba(255, 255, 255, 0.3);
    outline: none;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    border-radius: 15px; }
    .main-contacto .formulario-contacto .fieldset1 {
      margin: 5px;
      border: none; }
      .main-contacto .formulario-contacto .fieldset1 .legend1 {
        margin-bottom: 10px;
        margin-left: 28%;
        text-align: center; }
      .main-contacto .formulario-contacto .fieldset1 .label-apellido {
        padding-left: 20px; }
      .main-contacto .formulario-contacto .fieldset1 input {
        color: black; }
  .main-contacto .div-contacto {
    padding: 5px;
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: white; }
  .main-contacto .enviar {
    display: flex;
    flex-direction: row;
    padding: 5px; }
    .main-contacto .enviar input {
      padding: 5px;
      margin: 15px;
      outline: none;
      background-color: white;
      color: black;
      font-family: "Poppins", sans-serif;
      font-weight: bold; }
      .main-contacto .enviar input:hover {
        width: 100px;
        background-color: black;
        color: white; }

@media screen and (max-width: 320px) {
  .main-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10%;
    padding: 5px;
    width: 250px;
    border-radius: 15px;
    border: 2px white solid;
    border-style: outset;
    box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to left, white); }
    .main-contacto .formulario-contacto {
      margin-bottom: 20px;
      margin-top: 10px;
      padding: auto;
      color: black;
      background-color: rgba(255, 255, 255, 0.6);
      outline: none;
      font-size: 10px;
      font-family: "Poppins", sans-serif;
      font-weight: bold;
      border-radius: 15px; }
      .main-contacto .formulario-contacto .fieldset1 {
        margin: 5px;
        border: none; }
        .main-contacto .formulario-contacto .fieldset1 .legend1 {
          margin-left: 25%;
          margin-bottom: 10px;
          text-align: center; }
        .main-contacto .formulario-contacto .fieldset1 .label-apellido {
          padding-left: 20px; }
        .main-contacto .formulario-contacto .fieldset1 input {
          color: black;
          font-size: 10px; }
    .main-contacto .div-contacto {
      padding: 5px;
      margin-top: 10px;
      font-family: "Poppins", sans-serif;
      font-weight: bold;
      font-size: 10px;
      color: white; }
    .main-contacto .enviar {
      display: flex;
      flex-direction: row;
      padding: 5px; }
      .main-contacto .enviar input {
        margin: 15px;
        padding: 5px;
        outline: none;
        background-color: white;
        color: black;
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        font-size: 10px; }
        .main-contacto .enviar input:hover {
          background-color: black;
          color: white; } }

.integrantes, .container-integrantes .cards {
  margin: auto;
  padding: 10px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: all 300ms; }

.grid-disco {
  display: grid;
  margin-left: 5%;
  margin-right: 5%;
  grid-template-columns: repeat(3, 32%);
  grid-template-rows: repeat(2, 45%);
  gap: 20px;
  grid-template-areas: "disco1 disco1 disco1" "disco2 disco2 disco2"; }

.disco1 {
  grid-area: disco1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.7); }
  .disco1 .arriba {
    display: flex;
    flex-direction: row; }
    .disco1 .arriba img {
      height: 310px;
      width: 300px;
      border-radius: 15px; }
    .disco1 .arriba div {
      margin-top: 62px;
      margin-left: 20px;
      color: white; }
      .disco1 .arriba div h2 {
        font-size: 55px;
        font-family: "Fugaz One", cursive; }
      .disco1 .arriba div h3 {
        font-family: "Poppins", sans-serif; }
      .disco1 .arriba div .logos {
        margin: 0;
        margin-top: 45px; }
        .disco1 .arriba div .logos img {
          padding: 0.5px;
          margin-bottom: 10px;
          height: 40px;
          width: 40px;
          background-color: rgba(255, 71, 102, 0.7); }
      .disco1 .arriba div p {
        margin-top: 5px;
        padding: 5px;
        font-family: "Poppins", sans-serif;
        background-color: rgba(255, 71, 102, 0.7);
        border-radius: 15px;
        font-weight: bold; }
  .disco1 .masdisco {
    margin: 0;
    margin-left: 30px;
    width: 300px;
    text-align: center;
    color: white; }
    .disco1 .masdisco ol {
      font-size: 18px;
      font-family: "Fugaz One", cursive; }
      .disco1 .masdisco ol li {
        margin-top: 5px;
        font-size: 15px;
        font-family: "Poppins", sans-serif; }

.disco2 {
  grid-area: disco2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.7); }
  .disco2 .arriba {
    display: flex;
    flex-direction: row; }
    .disco2 .arriba img {
      height: 310px;
      width: 300px;
      border-radius: 15px; }
    .disco2 .arriba div {
      margin-top: 77px;
      margin-left: 20px;
      color: white; }
      .disco2 .arriba div h2 {
        font-size: 45px;
        font-family: "Fugaz One", cursive; }
      .disco2 .arriba div h3 {
        font-family: "Poppins", sans-serif; }
      .disco2 .arriba div .logos {
        margin: 0;
        margin-top: 45px; }
        .disco2 .arriba div .logos img {
          margin-bottom: 10px;
          padding: 0.5px;
          height: 40px;
          width: 40px;
          background-color: rgba(0, 204, 142, 0.7); }
      .disco2 .arriba div p {
        margin-top: 5px;
        padding: 5px;
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        background-color: rgba(0, 204, 142, 0.7);
        border-radius: 15px; }
  .disco2 .masdisco {
    margin: 0;
    margin-left: 30px;
    width: 300px;
    text-align: center;
    color: white; }
    .disco2 .masdisco ol {
      font-size: 18px;
      font-family: "Fugaz One", cursive; }
      .disco2 .masdisco ol li {
        margin-top: 5px;
        font-size: 15px;
        font-family: "Poppins", sans-serif; }

@media screen and (max-width: 320px) {
  .grid-disco {
    display: grid;
    margin: 10px;
    grid-template-columns: 300px;
    grid-template-rows: repeat(2, 800px);
    gap: 5px;
    grid-template-areas: "disco1" "disco2"; }
  .disco1 {
    grid-area: disco1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.7); }
    .disco1 .arriba {
      display: flex;
      flex-direction: column; }
      .disco1 .arriba img {
        height: 220px;
        width: 295px;
        border-radius: 15px; }
      .disco1 .arriba div {
        margin-top: 40px;
        margin-left: 20px;
        margin-bottom: 20px;
        color: white; }
        .disco1 .arriba div h2 {
          font-size: 30px;
          font-family: "Fugaz One", cursive; }
        .disco1 .arriba div h3 {
          font-family: "Poppins", sans-serif; }
        .disco1 .arriba div .logos {
          margin: 0;
          margin-top: 45px; }
          .disco1 .arriba div .logos img {
            margin-bottom: 10px;
            padding: 0.5px;
            height: 40px;
            width: 40px;
            background-color: rgba(255, 71, 102, 0.7); }
        .disco1 .arriba div p {
          margin-top: 5px;
          padding: 5px;
          font-family: "Poppins", sans-serif;
          font-weight: bold;
          background-color: rgba(255, 71, 102, 0.7);
          border-radius: 15px; }
    .disco1 .masdisco {
      margin: 0;
      margin-left: 40px;
      width: 200px;
      text-align: left;
      color: white; }
      .disco1 .masdisco ol {
        font-size: 15px;
        font-family: "Fugaz One", cursive; }
        .disco1 .masdisco ol li {
          margin-top: 2px;
          font-size: 12px;
          font-family: "Poppins", sans-serif; }
  .disco2 {
    grid-area: disco2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.7); }
    .disco2 .arriba {
      display: flex;
      flex-direction: column; }
      .disco2 .arriba img {
        height: 220px;
        width: 295px;
        border-radius: 15px; }
      .disco2 .arriba div {
        margin-top: 40px;
        margin-left: 20px;
        margin-bottom: 20px;
        color: white; }
        .disco2 .arriba div h2 {
          font-size: 30px;
          font-family: "Fugaz One", cursive; }
        .disco2 .arriba div h3 {
          font-family: "Poppins", sans-serif; }
        .disco2 .arriba div .logos {
          margin: 0;
          margin-top: 45px; }
          .disco2 .arriba div .logos img {
            margin-bottom: 10px;
            padding: 0.5px;
            height: 40px;
            width: 40px;
            background-color: rgba(0, 204, 142, 0.7); }
        .disco2 .arriba div p {
          margin-top: 5px;
          font-family: "Poppins", sans-serif;
          font-weight: bold;
          background-color: rgba(0, 204, 142, 0.7);
          border-radius: 15px;
          padding: 5px; }
    .disco2 .masdisco {
      margin: 0;
      margin-left: 40px;
      width: 200px;
      text-align: left;
      color: white; }
      .disco2 .masdisco ol {
        font-size: 15px;
        font-family: "Fugaz One", cursive; }
        .disco2 .masdisco ol li {
          margin-top: 5px;
          font-size: 12px;
          font-family: "Poppins", sans-serif; } }

.integrantes, .container-integrantes .cards {
  margin: auto;
  padding: 10px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: all 300ms; }

.grid-novedades {
  display: grid;
  border: none;
  margin-left: 20px;
  margin-right: 20px;
  grid-template-columns: repeat(4, 24%);
  grid-template-rows: repeat(4, 150px);
  gap: 20px;
  grid-template-areas: "concierto concierto1 concierto1 concierto1" "concierto concierto2 concierto2 concierto2" "concierto concierto3 concierto3 concierto3" "pagar pagar pagar pagar"; }

.concierto1 {
  grid-area: concierto1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 25px;
  padding: 10px;
  width: 80%;
  height: fit-content;
  color: white;
  border: 2px black solid;
  border-radius: 15px;
  border-style: outset;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: "Poppins", sans-serif;
  font-weight: bold; }
  .concierto1 .fecha-1 {
    text-align: center;
    background-color: #ff4766;
    border: 2px black solid;
    border-radius: 15px;
    border-style: outset;
    width: 80px;
    border-radius: 20px;
    height: 70px;
    padding: 5px;
    margin: 5px; }
  .concierto1 .descripcion {
    text-align: center;
    font-family: "Poppins", sans-serif; }
  .concierto1 a {
    background-color: white;
    width: 70px;
    height: 70px;
    padding: 10px;
    border-radius: 20px;
    border: 1.5px #ff4766 solid; }
    .concierto1 a:hover {
      border-top: black solid 2px;
      border-left: black solid 2px; }
      .concierto1 a:hover img {
        animation: chango 1s infinite linear alternate; }
    .concierto1 a img {
      height: 50px; }

.concierto2 {
  grid-area: concierto2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 25px;
  padding: 10px;
  width: 80%;
  height: fit-content;
  color: white;
  border: 2px black solid;
  border-radius: 15px;
  border-style: outset;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: "Poppins", sans-serif;
  font-weight: bold; }
  .concierto2 .fecha-1 {
    text-align: center;
    background-color: #ff4766;
    border: 2px black solid;
    border-radius: 15px;
    border-style: outset;
    width: 80px;
    border-radius: 20px;
    height: 70px;
    padding: 5px;
    margin: 5px; }
  .concierto2 .descripcion {
    text-align: center; }
  .concierto2 a {
    background-color: white;
    width: 70px;
    height: 70px;
    padding: 10px;
    border-radius: 20px;
    border: 1.5px #ff4766 solid; }
    .concierto2 a:hover {
      border-top: black solid 2px;
      border-left: black solid 2px; }
      .concierto2 a:hover img {
        animation: chango 1s infinite linear alternate; }
    .concierto2 a img {
      height: 50px; }

.concierto3 {
  grid-area: concierto3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 25px;
  padding: 10px;
  width: 80%;
  height: fit-content;
  color: white;
  border: 2px black solid;
  border-radius: 15px;
  border-style: outset;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: "Poppins", sans-serif;
  font-weight: bold; }
  .concierto3 .fecha-1 {
    text-align: center;
    background-color: #ff4766;
    border: 2px black solid;
    border-radius: 15px;
    border-style: outset;
    width: 80px;
    border-radius: 20px;
    height: 70px;
    padding: 5px;
    margin: 5px; }
  .concierto3 .descripcion {
    text-align: center; }
  .concierto3 a {
    background-color: white;
    width: 70px;
    height: 70px;
    padding: 10px;
    border-radius: 20px;
    border: 1.5px #ff4766 solid; }
    .concierto3 a:hover {
      border-top: black solid 2px;
      border-left: black solid 2px; }
      .concierto3 a:hover img {
        animation: chango 1s infinite linear alternate; }
    .concierto3 a img {
      height: 50px; }

.pagar {
  grid-area: pagar;
  background-image: url(/assets/img/aside/mercadopago-og.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  margin-top: 10px;
  margin-left: 30%;
  width: 40%;
  height: 100%;
  border: 2px black solid;
  border-radius: 15px;
  animation: mercado 5s infinite; }

@keyframes mercado {
  from { }
  to {
    background-image: url(/assets/img/aside/MasterCard.jpg); } }

.concierto {
  grid-area: concierto;
  width: fit-content;
  width: 100%;
  border: 3px white solid;
  border-radius: 15px;
  border-style: outset;
  background-color: rgba(149, 138, 191, 0.8);
  text-align: center; }
  .concierto .fecha {
    margin-top: 10px;
    padding: 5px;
    height: 100px;
    text-align: center;
    color: white; }
    .concierto .fecha h2 {
      margin-bottom: 7px;
      padding: 5px;
      border-radius: 15px;
      background-color: white;
      color: black;
      border: 1px black solid; }
    .concierto .fecha .compra {
      margin-left: 30%;
      padding: 10px;
      height: 50px;
      width: 40%;
      background-color: white;
      border: 1px black solid;
      display: flex;
      align-items: center;
      border-radius: 20px; }
      .concierto .fecha .compra:hover {
        margin-left: 18%;
        width: 63%;
        background-color: #ff4766;
        border: 2px white solid; }
        .concierto .fecha .compra:hover a {
          margin-left: 38%; }
          .concierto .fecha .compra:hover a img {
            animation: chango 1s infinite linear alternate; }
      .concierto .fecha .compra a {
        margin-left: 30%; }
        .concierto .fecha .compra a img {
          height: 40px; }
  .concierto .direccion {
    color: white; }
    .concierto .direccion h3 {
      text-decoration: overline;
      margin-top: 5px; }
    .concierto .direccion h4 {
      margin-bottom: 10px; }
  .concierto .mapa {
    margin: auto;
    height: 250px;
    width: 220px; }

@keyframes chango {
  from {
    transform: rotate(8deg); }
  to {
    transform: rotate(-8deg); } }

@media screen and (max-width: 320px) {
  .grid-novedades {
    display: grid;
    border: none;
    margin: 0;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(6, 250px);
    grid-template-areas: "concierto concierto" "concierto concierto" "concierto1 concierto1" "concierto2 concierto2" "concierto3 concierto3" "pagar pagar"; }
  .concierto1 {
    grid-area: concierto1;
    display: flex;
    flex-direction: column;
    margin-left: 25px; }
    .concierto1 .fecha-1 {
      background-color: #ff4766;
      border: 2px black solid;
      border-radius: 15px;
      border-style: outset;
      width: 50%;
      border-radius: 20px;
      height: fit-content;
      padding: 5px;
      margin-left: 25%; }
    .concierto1 .descripcion {
      text-align: center;
      font-size: 13px; }
    .concierto1 a {
      margin-left: 35%;
      padding: 10px;
      height: 60px;
      width: 80px;
      background-color: white;
      border-radius: 20px; }
      .concierto1 a:hover {
        border-top: black solid 2px;
        border-left: black solid 2px; }
        .concierto1 a:hover img {
          animation: chango 1s infinite linear alternate; }
      .concierto1 a img {
        margin-left: 10%;
        height: 40px; }
  .concierto2 {
    grid-area: concierto2;
    display: flex;
    flex-direction: column;
    margin-left: 25px; }
    .concierto2 .fecha-1 {
      background-color: #ff4766;
      border: 2px black solid;
      border-radius: 15px;
      border-style: outset;
      width: 50%;
      border-radius: 20px;
      height: fit-content;
      padding: 5px;
      margin-left: 25%; }
    .concierto2 .descripcion {
      text-align: center;
      font-size: 13px; }
    .concierto2 a {
      margin-left: 35%;
      padding: 10px;
      height: 60px;
      width: 80px;
      background-color: white;
      border-radius: 20px; }
      .concierto2 a:hover {
        border-top: black solid 2px;
        border-left: black solid 2px; }
        .concierto2 a:hover img {
          animation: chango 1s infinite linear alternate; }
      .concierto2 a img {
        margin-left: 10%;
        height: 40px; }
  .concierto3 {
    grid-area: concierto3;
    display: flex;
    flex-direction: column;
    margin-left: 25px; }
    .concierto3 .fecha-1 {
      background-color: #ff4766;
      border: 2px black solid;
      border-radius: 15px;
      border-style: outset;
      width: 50%;
      border-radius: 20px;
      height: fit-content;
      padding: 5px;
      margin-left: 25%; }
    .concierto3 .descripcion {
      text-align: center;
      font-size: 13px; }
    .concierto3 a {
      margin-left: 35%;
      padding: 10px;
      height: 60px;
      width: 80px;
      background-color: white;
      border-radius: 20px; }
      .concierto3 a:hover {
        border-top: black solid 2px;
        border-left: black solid 2px; }
        .concierto3 a:hover img {
          animation: chango 1s infinite linear alternate; }
      .concierto3 a img {
        margin-left: 10%;
        height: 40px; }
  .concierto {
    grid-area: concierto;
    padding: 5px;
    width: fit-content;
    border: 3px white solid;
    border-radius: 15px;
    border-style: outset;
    background-color: rgba(149, 138, 191, 0.8);
    text-align: center; }
    .concierto .fecha {
      margin-top: 10px;
      height: 50px;
      text-align: center;
      color: white; }
      .concierto .fecha h2 {
        margin-left: 25%;
        margin-bottom: 20px;
        padding: 5px;
        width: 50%;
        font-size: 15px;
        border-radius: 15px;
        background-color: white; }
      .concierto .fecha .compra {
        margin-left: 38%;
        padding: 10px;
        height: 50px;
        width: 70px;
        background-color: color2;
        display: flex;
        align-items: center;
        color: red;
        border-radius: 20px; }
        .concierto .fecha .compra:hover {
          margin-left: 25%;
          width: 50%;
          background-color: #ff4766;
          border: 1.5px color2 solid; }
          .concierto .fecha .compra:hover a {
            margin-left: 35%; }
            .concierto .fecha .compra:hover a img {
              animation: chango 1s infinite linear alternate; }
        .concierto .fecha .compra a {
          margin-left: 5px; }
          .concierto .fecha .compra a img {
            height: 40px; }
    .concierto .direccion {
      margin-top: 80px;
      color: white;
      font-size: 15px; }
      .concierto .direccion h3 {
        text-decoration: overline; }
      .concierto .direccion h4 {
        margin-bottom: 10px; }
    .concierto .mapa {
      margin: auto;
      height: 230px;
      width: 200px; }
  .pagar {
    grid-area: pagar;
    margin-top: 60px;
    margin-left: 35px;
    width: 250px;
    height: 150px; } }

.integrantes, .container-integrantes .cards {
  margin: auto;
  padding: 10px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: all 300ms; }

.container-integrantes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
  margin: auto;
  width: 100%; }
  .container-integrantes .cards {
    width: 370px;
    height: 400px; }
    .container-integrantes .cards:hover {
      transform: translateY(-10px);
      background-color: rgba(0, 0, 0, 0.6); }
    .container-integrantes .cards h2 {
      margin-top: 10px;
      text-align: center;
      font-family: "Poppins", sans-serif;
      font-weight: bold;
      color: white; }
    .container-integrantes .cards h3 {
      text-align: center;
      font-family: "Poppins", sans-serif;
      font-weight: bold;
      color: white; }
    .container-integrantes .cards p {
      margin-top: 10px;
      text-align: center;
      font-family: "Poppins", sans-serif;
      font-weight: bold;
      color: white;
      font-size: 14px; }
    .container-integrantes .cards .cover-cards {
      width: 100%;
      height: 180px;
      overflow: hidden;
      border-radius: 15px; }
      .container-integrantes .cards .cover-cards img:hover {
        transform: scale(1.1); }

@media screen and (max-width: 320px) {
  .container-integrantes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;
    margin: auto; }
    .container-integrantes .cards {
      width: 300px;
      height: 350px; }
      .container-integrantes .cards:hover {
        transform: translateY(-10px);
        background-color: rgba(0, 0, 0, 0.6); }
      .container-integrantes .cards h2 {
        margin-top: 10px;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        color: white; }
      .container-integrantes .cards p {
        margin-top: 10px;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        color: white;
        font-size: 10px; }
      .container-integrantes .cards .cover-cards {
        width: 100%;
        height: 180px;
        overflow: hidden;
        border-radius: 15px; }
        .container-integrantes .cards .cover-cards img:hover {
          transform: scale(1.1); } }

.integrantes, .container-integrantes .cards {
  margin: auto;
  padding: 10px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: all 300ms; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  background: url(/assets/img/los-jugos/grafica/Fondo.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 30px;
  font-size: 25px;
  font-family: "Fugaz One", cursive;
  color: black; }
  header img {
    margin-right: 30px;
    margin-top: 5px;
    height: 90px; }

.navegador1 {
  margin-bottom: 50px;
  color: black; }
  .navegador1 .barra-de-navegacion {
    text-align: left;
    list-style-type: none; }
    .navegador1 .barra-de-navegacion a {
      margin-left: 32%;
      font-family: "Fugaz One", cursive;
      font-size: large;
      color: black;
      text-decoration: overline; }
      .navegador1 .barra-de-navegacion a:hover {
        color: white; }

.grid {
  display: grid;
  margin: 30px;
  border: none;
  grid-template-columns: 2fr 2fr 0.5fr;
  grid-template-rows: 250px 250px 100px;
  gap: 20px;
  grid-template-areas: "video-1 video-2 publicidad" "gregory gregory publicidad" "spotify whatsapp publicidad"; }

.video-1 {
  grid-area: video-1;
  background-image: url(/assets/img/los-jugos/grafica/MysticWay.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  border-radius: 15px;
  animation: movimiento 15s infinite linear alternate; }
  .video-1 .titulo-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 150px;
    width: 40%;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px; }
    .video-1 .titulo-1 h2 {
      font-family: "Fugaz One", cursive;
      text-decoration: wavy;
      color: #ff4766; }
    .video-1 .titulo-1 h3 {
      font-family: "Poppins", sans-serif;
      text-decoration: overline;
      color: #ff4766; }
  .video-1 .boton-mystic {
    margin-top: 5px;
    margin-left: 35%;
    width: 30%;
    height: 40px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 3px 3px #373c3c;
    border-color: red; }
    .video-1 .boton-mystic a {
      display: flex;
      justify-content: space-around; }
    .video-1 .boton-mystic img {
      height: 35px; }
    .video-1 .boton-mystic:hover {
      background-color: red;
      border-color: white; }

@keyframes movimiento {
  from {
    background-position: bottom left; }
  to {
    background-position: top right; } }

.video-2 {
  grid-area: video-2;
  background-image: url(/assets/img/los-jugos/banda/banda-1.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  border-radius: 15px; }
  .video-2 .textos-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px 0 60%;
    height: 65px;
    font-size: 10px;
    font-weight: bold;
    color: white;
    background-color: rgba(149, 138, 191, 0.5);
    border-radius: 15px; }
    .video-2 .textos-2 h2 {
      font-family: "Fugaz One", cursive; }
    .video-2 .textos-2 .lasala {
      font-family: "Poppins", sans-serif;
      text-decoration: overline; }
    .video-2 .textos-2 h3 {
      font-family: "Poppins", sans-serif; }
    .video-2 .textos-2 .entradas {
      margin-top: 7px;
      padding: 5px;
      font-family: "Fugaz One", cursive;
      font-size: larger;
      background-color: rgba(149, 138, 191, 0.5);
      border-radius: 15px;
      text-decoration: none;
      color: white;
      box-shadow: 3px 3px 3px #373c3c;
      animation: entradas 10s infinite; }

@keyframes entradas {
  50% {
    background-color: #ff4766; } }

.gregory {
  grid-area: gregory;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url(/assets/img/los-jugos/grafica/Gregory-Morris-jamaica.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: contain;
  border-radius: 15px;
  margin-left: 30px;
  margin-right: 30px;
  color: black;
  background-color: rgba(255, 71, 102, 0.3); }
  .gregory .gregory-2 {
    margin-left: 40%;
    margin-top: 15px;
    width: 40%;
    font-size: large;
    text-align: left;
    font-family: "Fugaz One", cursive; }
  .gregory .gregory-3 {
    padding: auto;
    margin-top: 20px;
    margin-left: 40%;
    width: 50%;
    font-size: small;
    border-radius: 15px;
    text-align: left; }
  .gregory a {
    margin-left: -80px;
    margin-top: 210px;
    text-decoration: none; }
    .gregory a h2 {
      font-size: "Poppins", sans-serif;
      font-size: 15px;
      color: black;
      text-decoration: overline; }
      .gregory a h2:hover {
        color: white; }

.publicidad {
  grid-area: publicidad;
  margin: 0;
  width: auto;
  height: 90%;
  background-image: url(/assets/img/aside/pelagatos2.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: contain;
  border-radius: 15px;
  border: 2px black solid;
  animation: pelagatos 10s infinite linear alternate;
  background-color: #fff200; }

@keyframes pelagatos {
  from {
    background-position: top; }
  to {
    background-position: bottom; } }

.spotify {
  grid-area: spotify;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-left: 30%;
  padding-top: 15px;
  width: 60%;
  height: 100%;
  text-align: center;
  background-color: #1ed671;
  border-radius: 50%;
  border: 1.5px black solid; }
  .spotify .jugospotify {
    padding: 0px;
    padding-right: 0;
    text-decoration: none;
    text-align: center;
    font-size: 1px;
    color: #1ed671; }
  .spotify img {
    height: 75px; }
  .spotify:hover {
    padding-top: 25px;
    border: none;
    background-color: rgba(30, 214, 113, 0.7); }
    .spotify:hover .jugospotify {
      margin-left: 0;
      margin-top: 15px;
      font-family: "Fugaz One", cursive;
      color: black;
      font-weight: 5000;
      font-size: 20px;
      text-align: center; }
    .spotify:hover img {
      margin-left: 5px;
      padding-bottom: 30px;
      height: 90px; }

.whatsapp {
  grid-area: whatsapp;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-left: 60px;
  padding-top: 15px;
  width: 60%;
  height: 100%;
  background-color: #25d366;
  text-align: center;
  border-radius: 50%;
  border: 1.5px black solid; }
  .whatsapp .numerowhatsapp {
    padding: 0px;
    padding-right: 0;
    text-decoration: none;
    text-align: center;
    color: #25d366;
    font-size: 1px; }
  .whatsapp img {
    height: 75px; }
  .whatsapp:hover {
    padding-top: 25px;
    border: none;
    background-color: rgba(37, 211, 102, 0.7); }
    .whatsapp:hover .numerowhatsapp {
      margin-left: 0;
      margin-top: 15px;
      font-family: "Fugaz One", cursive;
      font-weight: 5000;
      font-size: 20px;
      color: black;
      text-align: center; }
    .whatsapp:hover img {
      margin-left: 5px;
      padding-bottom: 30px;
      height: 90px; }

@media screen and (max-width: 320px) {
  header {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: "Fugaz One", cursive;
    color: black; }
    header img {
      margin-left: 0px;
      height: 100px;
      width: 100px; }
  .navegador1 {
    color: black; }
    .navegador1 .barra-de-navegacion {
      margin-bottom: 50px;
      text-align: right;
      list-style-type: none; }
      .navegador1 .barra-de-navegacion a {
        margin-right: 20px;
        font-size: 15px;
        font-family: "Fugaz One", cursive;
        color: black;
        text-decoration: overline; }
        .navegador1 .barra-de-navegacion a:hover {
          color: white; }
  .grid {
    display: grid;
    border: none;
    gap: 10px;
    margin: 10px;
    grid-template-columns: repeat(2, 49%);
    grid-template-rows: repeat(5, 200px);
    color: white;
    grid-template-areas: "video-1 video-1" "video-2 video-2" "gregory gregory" "publicidad publicidad" "spotify whatsapp"; }
  .video-1 {
    grid-area: video-1;
    width: 100%;
    height: auto; }
    .video-1 .titulo-1 {
      display: flex;
      margin-top: 150px;
      flex-direction: column;
      justify-content: center;
      margin-top: 150px;
      font-size: 6px; }
    .video-1 .boton-mystic {
      height: 15px; }
      .video-1 .boton-mystic a {
        display: flex;
        justify-content: center;
        height: 10px; }
      .video-1 .boton-mystic img {
        height: 10px; }
      .video-1 .boton-mystic:hover {
        background-color: red;
        border-color: white; }
  .video-2 {
    grid-area: video-2;
    width: 100%;
    height: 100%; }
    .video-2 .textos-2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
      margin-left: 50%;
      font-family: "Poppins", sans-serif;
      font-size: 7px;
      font-weight: bold; }
      .video-2 .textos-2 h2 {
        font-size: 8px; }
      .video-2 .textos-2 .entradas {
        padding: 2px;
        box-shadow: none;
        width: 60px;
        padding: 5px; }
  .gregory {
    grid-area: gregory;
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url(/assets/img/los-jugos/grafica/Gregory-Morris-jamaica.jpg); }
    .gregory .gregory-2 {
      font-size: 8px;
      margin-left: 5px;
      margin-top: 5px;
      padding: 3px;
      color: white;
      background-color: black;
      border-radius: 15px;
      text-align: center; }
    .gregory .gregory-3 {
      font-size: 0.5px;
      color: white;
      margin: 5px; }
    .gregory a {
      margin-right: 10px;
      margin-top: 160px;
      padding: 5px;
      text-decoration: none;
      background-color: black;
      border: 2px white solid;
      border-radius: 15px; }
      .gregory a h2 {
        font-size: "Poppins", sans-serif;
        font-size: 15px;
        color: white;
        text-decoration: none;
        text-align: center; }
  .publicidad {
    grid-area: publicidad;
    width: 100%;
    height: 100%;
    margin: 0; }
  .spotify {
    grid-area: spotify;
    margin: 30px 0px 15px 10px;
    padding-top: 30px;
    width: 90%;
    height: 70%; }
    .spotify:hover {
      display: flex;
      flex-direction: column; }
      .spotify:hover .jugospotify {
        font-size: 20px; }
      .spotify:hover img {
        height: 70px; }
  .whatsapp {
    grid-area: whatsapp;
    margin: 30px 0px 15px 0px;
    padding-top: 30px;
    width: 90%;
    height: 70%; }
    .whatsapp:hover {
      display: flex;
      flex-direction: column; }
      .whatsapp:hover .numerowhatsapp {
        font-size: 20px; }
      .whatsapp:hover img {
        height: 70px; } }

footer {
  padding: 10px 0px;
  margin-top: 50px;
  width: 100%;
  background-image: url(/assets/img/footer/stacked-peaks-haikei.svg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif; }
  footer .pie-de-pagina {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto; }
    footer .pie-de-pagina .redes-sociales {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 10px; }
      footer .pie-de-pagina .redes-sociales a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        padding: 10px; }
        footer .pie-de-pagina .redes-sociales a img {
          height: 25px;
          width: 25px;
          margin-bottom: -5px; }
    footer .pie-de-pagina .logo {
      display: flex;
      flex-direction: row;
      font-size: 10px;
      font-weight: bold; }
      footer .pie-de-pagina .logo img {
        width: 90px; }
      footer .pie-de-pagina .logo .lema {
        margin-top: 10px; }
  footer .derechos {
    text-decoration: overline;
    text-align: center; }
