$color1: black;
$color2: white;
$color3:rgb(255, 71, 102);
$color4:rgba(255, 71, 102, 0.7);
$color5: rgba(0, 204, 142, 0.7);
$font-weight: bold;
$font-family1: 'Fugaz One', cursive;
$font-family2: 'Poppins', sans-serif;
$border-radius: 15px;